template(name="layout")
  div.off-canvas-wrap(data-offcanvas="true")
    div.inner-wrap
      a.left-off-canvas-toggle(href="#") Menu
      aside.left-off-canvas-menu
        +sidebar
      header.row
        +header
      main.row
        {{> yield}}
  {{initFoundation}}


template(name="wizard")
  {{> yield}}
  {{initFoundation}}


template(name="sidebar")
  ul.off-canvas-list
    li
      label Table of content
    li 
      a(href="") Specification of the SLM Best Pratice
    li 
      a(href="") Technical Drawing
    li 
      a(href="") Establishment of SLM Best Pratices



template(name="index")
  section
    +section_one_preview

  section
    +section_two_preview

  section
    +form_guideline_preview

