/* all app scss styles here */

.upload-container {
  padding: 100px;
  text-align: center;
  border: 3px dashed lightgray;
}

// Wizard
.wizard {
  padding: 0 0 20em;

  fieldset {
    margin-top: 4em;
    opacity: 0.5;
  }
  .active + fieldset {
    opacity: 1;
    border-width: 2px;
  }

  .multiple-choice {
    input[type="file"], 
    input[type="checkbox"], 
    input[type="radio"], 
    select {
      margin: 0;
    }
  }
}
.wizard-header {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f5f5f5;
  border-top: 1px solid lightgray;

  z-index: 999;
}

[data-magellan-expedition-clone],
[data-magellan-expedition] {
  display: none;
}


.form-help {
  font-style: italic;
  font-size: 0.85em;
}
textarea.big {
  min-height: 12em;
}