/* all app scss styles here */

.upload-container {
  padding: 100px;
  text-align: center;
  border: 3px dashed $smoke;
}

// Wizard
.wizard {
  padding: 0 0 100em;

  fieldset {
    margin-top: 4em;
    // opacity: 0.5;
  }
  .active + fieldset {
    opacity: 1;
    border-width: 2px;
  }

  .multiple-choice {
    input[type="file"], 
    input[type="checkbox"], 
    input[type="radio"], 
    select {
      margin: 0;
    }
  }
}

.multiple-choice > input {
  display: none;
}

.item {
  position: relative;

  
}
.item:before {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  color: green;
  position: absolute;
  top: 0;
  left: -2em;
  background: white;
  border: 1px solid $smoke;
  border-radius: 15px;
  text-align: center;
}
.item.is-selected:before {
  content: "✔";
  display: block;
  width: 30px;
  height: 30px;
  color: green;
  position: absolute;
  top: 0;
  left: -2em;
  background: white;
  border: 1px solid $smoke;
  border-radius: 15px;
  text-align: center;
}

.wizard-header {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: $white-smoke;
  border-top: 1px solid $smoke;

  z-index: 999;
}

[data-magellan-expedition-clone] {
  display: none;
}
[data-magellan-expedition], 
[data-magellan-expedition-clone] {
  right: 0;
  left: auto;
  width: auto;
  min-width: 0;
  background: none;
}
[data-magellan-expedition] {
  position: fixed;
  top: 0px;
  dl {
    margin: 0;
  }
  dd a {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    width: 1em;
    height: 1em;
    border-radius: 0.5em;

    background: $smoke;
  }
  dd.active a {
    background: $primary-color;
  }
}

.form-help {
  font-size: 0.85em;
  background-color: $smoke;
  padding: 0.5em;
  border-radius: 0.5em;
  position: relative;
  padding-left: 2em;
}

.form-help:before {
  content: "ℹ";
  position: absolute;
  top: 0;
  left: 0.5em;
  font-size: 1.5em;
}
textarea.big {
  min-height: 12em;
}

.progress {
  border-color: $iron;
}
