template(name="header")
  +collection(name="header" create="1")
    //- Cover image
    if coverGiven
      img(src="http://placehold.it/800x200", alt="Cover Image")
    else
      div.upload-container Upload your photo here

    .panel
      //- Title
      if titleGiven
        a.right(href="" data-toggle-boolean="titleGiven") Edit
        h1(data-toggle-boolean="titleGiven") {{field name="title" pick="Place your title here"}}
      else
        form(role="form")
          div.row.collapse
            label(for="title") Title
            div.small-10.columns
              input(name="title" type="text" placeholder="Name of the SLM Technology" autofocus)
            div.small-2.columns
              input.button.postfix(type="submit" value="save" data-toggle-boolean="titleGiven")


      //- Abstract
      if abstractGiven
        a.right(href="" data-toggle-boolean="abstractGiven") Edit
        p {{abstract}}
      else
        form(role="form")
          div.row.collapse
            label(for="abstract") Abstract
            div.small-10.columns
              textarea(name="abstract" type="text" placeholder="Definition of Technology in one sentance" row="6")
            div.small-2.columns
              input.button.postfix(type="submit" value="save" data-toggle-boolean="abstractGiven")