main.row
  //- Cover image
  div.upload-container Upload your photo here

  .panel
    //- Title
    form(role="form")
      div.row.collapse
        label(for="title") Title
        div.small-10.columns
          input(name="title" type="text" placeholder="Name of the SLM Technology" autofocus)
        div.small-2.columns
          input.button.postfix(type="submit" value="save" data-toggle-boolean="titleGiven")

    //- Abstract
    form(role="form")
      div.row.collapse
        label(for="abstract") Abstract
        div.small-10.columns
          textarea(name="abstract" type="text" placeholder="Definition of Technology in one sentance" row="6")
        div.small-2.columns
          input.button.postfix(type="submit" value="save" data-toggle-boolean="abstractGiven")