div(data-magellan-expedition="fixed")
  dl.right.sub-nav
    dd(data-magellan-arrival='question01')
      a(href='#question01') Question One
    dd(data-magellan-arrival='question02')
      a(href='#question02') Question two
    dd(data-magellan-arrival='question03')
      a(href='#question03') Question three
    dd(data-magellan-arrival='question04')
      a(href='#question04') Question four

form.wizard.inner-wrap
  
  a(name="question01" data-magellan-destination="question01")
  fieldset.row
    legend 1. Description
    p.form-help Make sure that the description contains the key characteristics / distinct features of the Technology, purpose, establishment / maintenance activities and inputs, most important conditions regarding natural / human environment) this summary has to provide a comprehensive / concise picture of the Technology to outsiders. After having gone through the whole questionnaire come back and revise / complement this section. Try to fill the grey shaded space but do not exceed.
    textarea.big(name="description" placeholder="Description of the SLM Technology" row="6" autofocus)
  

  a(name="question02" data-magellan-destination="question02")
  fieldset.row
    legend 2. Objectives / purpose of the Technology
    p.form-help A single SLM Technology should cover a homogeneous set of natural (bio-physical) and human (socio-economic) conditions, hence should not be applied for instance to very dissimilar climatic or altitudinal zones or slope categories or to very dissimilar conditions of land tenure.
    .row.collapse
      .small-1.columns
        span.prefix 1.
      .small-9.columns
        input(type='text')
      .small-2.columns
        a.right(href="") remove
    .row.collapse
      .small-1.columns
        span.prefix 2.
      .small-9.columns
        input(type='text')
      .small-2.columns
        a.right(href="") remove
    .row.collapse
      .small-1.columns
        span.prefix 3.
      .small-9.columns
        input(type='text')
      .small-2.columns
        a.right(href="") remove
    a(href="") + Add an objective


  a(name="question03" data-magellan-destination="question03")
  fieldset.row
    legend 3. Land Use
    .row
      .small-3.columns
        span Cropland
        br
        img(src="images/1-01annual_crops.png", alt="Croplands")
      .small-5.columns
        .button-bar
          ul.multiple-choice.button-group.radius
            li
              label.tiny.button.secondary.active(href='#') 
                input(type="radio" name="importance01" value="none" checked)
                span None
            li
              label.tiny.button.secondary(href='#') 
                input(type="radio" name="importance01" value="1")
                span Little
            li
             label.tiny.button.secondary(href='#') 
                input(type="radio" name="importance01" value="2")
                span Medium
            li
              label.tiny.button.secondary(href='#') 
                input(type="radio" name="importance01" value="3")
                span Hight
      .small-4.columns
        input(type="text" placeholder="Comment")

    .row
      .small-3.columns
        span Grazing land
        br
        img(src="images/1-04extensive_grazing.png", alt="Grazing")
      .small-5.columns
        .button-bar
          ul.multiple-choice.button-group.radius
            li
              label.tiny.button.secondary.active(href='#') 
                input(type="radio" name="importance02" value="none" checked)
                span None
            li
              label.tiny.button.secondary(href='#') 
                input(type="radio" name="importance02" value="1")
                span Little
            li
             label.tiny.button.secondary(href='#') 
                input(type="radio" name="importance02" value="2")
                span Medium
            li
              label.tiny.button.secondary(href='#') 
                input(type="radio" name="importance02" value="3")
                span Hight
      .small-4.columns
        input(type="text" placeholder="Comment")

    .row
      .small-3.columns
        span Forest/woodlands
        br
        img(src="images/1-06forest.png", alt="Forest")
      .small-5.columns
        .button-bar
          ul.multiple-choice.button-group.radius
            li
              label.tiny.button.secondary.active(href='#') 
                input(type="radio" name="importance03" value="none" checked)
                span None
            li
              label.tiny.button.secondary(href='#') 
                input(type="radio" name="importance03" value="1")
                span Little
            li
             label.tiny.button.secondary(href='#') 
                input(type="radio" name="importance03" value="2")
                span Medium
            li
              label.tiny.button.secondary(href='#') 
                input(type="radio" name="importance03" value="3")
                span Hight
      .small-4.columns
        input(type="text" placeholder="Comment")


  a(name="question04" data-magellan-destination="question04")
  fieldset.row
    legend 4. Lorem
    p.form-help Make sure that the description contains the key characteristics / distinct features of the Technology, purpose, establishment / maintenance activities and inputs, most important conditions regarding natural / human environment) this summary has to provide a comprehensive / concise picture of the Technology to outsiders. After having gone through the whole questionnaire come back and revise / complement this section. Try to fill the grey shaded space but do not exceed.
    textarea.big(name="description" placeholder="Description of the SLM Technology" row="6" autofocus)



header.wizard-header
  .inner-wrap
    .row
      h2 Specification of SLM Best Pratice

      span 0 / 12 completed
      div.progress.radius
        span.meter(style="width:1%")
      a.button(href="index.html" data-toggle-boolean="section_one") I'm done
      .right
        a.button(href="" data-magellan-step="previous") △
        a.button(href="" data-magellan-step="next") ▽